/* Base CSS*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea;focus, button:focus {outline: 0 solid}
a:hover{text-decoration: none}
img{max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}



.service-box-bg-1{background-image: url(../img/bg-1.jpg);}
.service-box-bg-2{background-image: url(../img/bg-2.jpg);}
.service-box-bg-3{background-image: url(../img/bg-3.jpg);}
.service-box-bg-4{background-image: url(../img/bg-4.jpg);}

.service-box-bg {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    height: 220px;
}

.service-box-inner {
    border: 1px solid #f3f3f3;
    border-top: 0px solid;
    padding: 20px;
    text-align: center;
    padding-bottom: 41px;
}

.single-service-box {
    position: relative;
}

.service-box-more-wrap {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    text-align: center;
    
}

.service-box-inner h3 {
    text-transform: uppercase;
    font-size: 19px;
}

p.service-meta {
    text-transform: uppercase;
    opacity: .5;
    font-size: 12px;
    margin: 0;
}

a.bordered-btn {
    display: inline-block;
    border: 1px solid #f3f3f3;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #fff;
}