/* Base CSS*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea;focus, button:focus {outline: 0 solid}
a:hover{text-decoration: none}
img{max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}



.service-box-bg-1{background-image: url(../img/bg-1.jpg);}
.service-box-bg-2{background-image: url(../img/bg-2.jpg);}
.service-box-bg-3{background-image: url(../img/bg-3.jpg);}
.service-box-bg-4{background-image: url(../img/bg-4.jpg);}

.service-box {
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    z-index: 2;
    margin-top: 25px;
}

a.boxed-btn {
    background: #ffce42;
    color: #333;
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.service-box-hover h3 {
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 400;
}

.service-box-hover {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    transition: .2s;
}

.service-box:hover .service-box-hover {
    bottom: 30px;
}

.service-box:hover .boxed-btn {
    opacity: 1;
    visibility: visible;
}

.service-box:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .3;
}