/* Base CSS*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea;focus, button:focus {outline: 0 solid}
a:hover{text-decoration: none}
img{max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}



.product-bg-1{background-image: url(../img/bg-1.jpg)}
.product-bg-2{background-image: url(../img/bg-2.jpg)}
.product-bg-3{background-image: url(../img/bg-3.jpg)}
.product-bg-4{background-image: url(../img/bg-4.jpg)}
.product-bg-5{background-image: url(../img/bg-5.jpg)}

.section-title {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.product-bg {
    background-size: cover;
    background-color: #ddd;
    background-position: center top;
    height: 300px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.ticker {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #333;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 11px;
}

.ticker-green {
    background-color: #2AB89D;
}

.ticker-red {
    background-color: #F84F4C;
}

.product-bottom-hover {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    bottom: -14px;
    background: #fff;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.product-bottom-hover a {
    display: block;
    float: left;
    width: 33.3333%;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #333;
    padding: 13px;
}

.product-bottom-hover a:hover {
    background: #333;
    color: #fff;
}
.single-product-box {
    text-align: center;
}

.single-product-box h4 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

p.product-price {
    font-weight: 700;
    margin: 0;
    font-size: 110%;
}

.single-product-box:hover .product-bottom-hover {
    visibility: visible;
    opacity: 1;
    bottom: 30px;
}
.product-carousel .owl-nav div {
    height: 30px;
    width: 30px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
    border-radius: 50%;
    left: -15px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    opacity: 0.5;
}

.product-carousel .owl-nav div.owl-next {
    left: auto;
    right: -15px;
}