/* Base CSS*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea;focus, button:focus {outline: 0 solid}
a:hover{text-decoration: none}
img{max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}


.pricing-title-wrap {background-image: url(../img/bg-1.jpg);}


.pricing-title-wrap {
    background-size: cover;
    background-color: #333;
    background-position: center;
    color: #fff;
    text-align: center;
    padding-top:40px;
    padding-bottom: 200px
}

.pricing-title-wrap h2 {
    font-weight: 300;
    font-size: 50px;
}

.pricing-header {
    background: #2A2F3B;
    text-align: center;
    color: #96989F;
    position: relative;
    display: table;
    width: 100%;
    height: 250px;
}

.pricing-header h2 {
    color: #fff;
    font-size: 50px;
}

.pricing-header-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
}




.special-pricing-text {
    position: absolute;
    left: 0;
    background: #21252D;
    padding: 14px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    top: -48px;
}

.pricing-content {
    padding: 40px;
    font-size: 110%;
}

.pricing-sub-title {
    margin: 0;
    background: #F0F0F0;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 600;
}

.pricing-note {
    opacity: .6;
    font-size: 70%;
    margin-left: -10px;
    margin-top: 24px;
}

.pricing-list-wrap {
    margin-top: -110px;
}

.pricing-list-wrap .row {
    margin-left: -5px;
    margin-right: -5px;
}

.pricing-list-wrap .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}