/* Base CSS*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea;focus, button:focus {outline: 0 solid}
a:hover{text-decoration: none}
img{max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}



.newsletter-bg{background-image: url(../img/bg-2.jpg)}

.newsletter-bg h2 {
    text-transform: uppercase;
}

.newsletter-bg {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding-bottom: 180px;
}

.newsletter-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #333;
    z-index: -1;
    opacity: .3;
}

.newsletter-bg h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 50px;
}

.newsletter-form input[type=email] {
    background: #333;
    border: 1px solid #ecdf94;
    padding: 12px 20px;
    opacity: 0.6;
    width: 76%;
    border-radius: 50px;
}

.newsletter-form input[type=submit] {
    background: #34b79d;
    color: #fff;
    border: none;
    padding: 13px 30px;
    border-radius: 50px;
    width: 23%;
}

.newsletter-form form {
    margin-bottom: 14px;
}

.newsletter-form {
}

p.newsletter-text {
    font-style: italic;
}

.bordered-boxes {
    overflow: hidden;
    border-right: 1px solid #ededed;
    margin-top: -160px;
    position: relative;
    z-index: 9;
    background: #fff;
}

.single-bordered-box {
    float: left;
    width: 50%;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding: 50px 80px;
    text-align: center;
    min-height: 285px;
}

.single-bordered-box h4 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 25px;
}

.single-testimonial-box {
    font-style: italic;
    line-height: 1.6;
}

p.author-name {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 20px;
}

a.boxed-btn {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 8px 27px;
    border-radius: 50px;
    margin-top: 10px;
}
p.left {
    font-size: 16.5px;
}

p.right {
    font-size: 16px;
    font-style: normal;
}